.d-none {
    display: none !important;
}

.margin-radio {
    margin-left: 1.5em !important;
}

.card {
    box-shadow: 4px 4px 3px 3px #425580 !important;
    border-radius: 10px;
    padding: 2em !important;
}

.margins-quest {
    margin-top: 1.5em !important;
}