

.mostbtn {
    animation: float 3s ease-out infinite;
}

.mostbtn:hover {
    transition: 1s !important;
    animation: normal !important;
}

.form-sha {
    box-shadow: 4px 4px #ddd !important;
}

.bg-navi {
    background: #01579B !important;
}

.text-white {
    color: white !important;
}

@keyframes float {
    50% {
        transform: translate(0, 15px);
    }
}

.animat {
    animation: fltanim 3s ease-out infinite;
}

.animatdesc {
    transition: 1s !important;
    animation: normal !important;
}

@keyframes fltanim {
    50% {
        transform: translate(0, 15px);
    }
}

.btn-sha {
    box-shadow: 3px 3px #4a26fd;
    transition: 1s !important;
}

.btn-sha:hover {
    box-shadow: none;
}

.btn-color {
    background-color: #3722f6 !important;
    color: white !important;
}

.d-none {
    display: none !important;
}

.margin-radio {
    margin-left: 1.5em !important;
}

.card {
    box-shadow: 2px 2px 3px 3px #ddd !important;
    border-radius: 10px;
    padding: 2em !important;
}

.margins-quest {
    margin-top: 1.5em !important;
}

.tit-enc {
    padding: 10px !important;
    border-radius: 10px !important;
}

.mt-p {
    margin-top: 3em !important;
}

.color-primary {
    color: #337ab7 !important;
}

.color-info-s {
    color: rgb(107, 219, 237) !important;
}

.color-primary-s {
    color: rgb(51, 162, 255) !important;
}

.color-warning {
    color: rgb(255, 204, 51) !important;
}

.color-danger {
    color: red !important;
}

.color-danger-s {
    color: #CC0E00 !important;
}

.bg-primary-s {
    background-color: rgb(51, 162, 255) !important;
}

.bg-info {
    background-color: rgb(107, 219, 237) !important;
}

.bg-danger {
    background-color: red !important;
}

.bg-danger-s {
    background-color: #CC0E00 !important;
}

.bg-warning {
    background-color: rgb(255, 204, 51) !important;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes click-wave {
    0% {
        height: 15px;
        width: 15px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 60px;
        width: 60px;
        margin-left: -21px;
        margin-top: -20px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    transition: all 0.15s ease-out 0s;
    background: #ddd;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 4px !important;
}

.option-input:hover {
    background: #0000d6;
}

.option-input:checked {
    background: #0000d6;
}

.option-input:checked::before {
    height: 15px;
    width: 15px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #0000d6;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

.margins-quest label {
    font-size: 13px !important;
}

#li1, #li2, #li3 {
    transition:0.5s !important;
    /*transition-delay:0.5s !important;
    transition-duration:0.5s !important;*/
}

#li1:hover {
   background-color:aliceblue !important;
   transform: scale(1.05,1.05);
}

#li2:hover {
   background-color:aliceblue !important;
   transform: scale(1.05,1.05);
}

#li3:hover {
   background-color:aliceblue !important;
   transform: scale(1.05,1.05);
}

#listacciones > li > a {
    text-decoration:none !important;
}

