
@{
    ViewBag.Title = "GuardarEncuestaOpc";
    Layout = "~/Views/Shared/_LayoutTests.cshtml";
}

@{
    if (Model.sMensaje == "success")
    {
        <div class="container" style="margin-top:5em !important;">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-top:10em !important; margin-bottom:10em !important;">
                    <h2 class="text-primary">
                        <b>
                            Registro correcto! Gracias por responder la encuesta, seras redirigido a la pantalla de inicio en <b id="seg"></b> segundos...
                        </b>
                    </h2>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                let cont = 10;
                const seg = document.getElementById('seg');
                window.setInterval(() => {
                    if (cont == -1) {
                        seg.textContent = 0;
                        location.href = "../../";
                    } else {
                        seg.textContent = cont;
                        cont--;
                    }
                }, 1000);
            });
        </script>
    }
    else
    {
        <div class="container" style="margin-top:4em !important;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-danger">
                        Ocurrio un error
                    </h2>
                </div>
            </div>
        </div>
    }
}

