
@{
    ViewBag.Title = "Encuesta3";
    Layout = "~/Views/Shared/_LayoutIni.cshtml";
}

    <div class="container-fluid">
        <div class="mt-5 mb-5">

            <div class="row">
                <div class="col-lg-6 animated fadeInRight delay-1s">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <h4 class="card-title text-center col-title font-title lt-spacing-2 txt-shadow-3 font-weight-bold">
                                Completa el formulario:
                            </h4>
                            <hr />
                            <form action="../EncuestaP/Opcional" method="POST" id="form_data" class="p-1">
                                <div class="form-group" id="divempresa">
                                    <label class="col-form-label col-labels"> <i class="fas fa-university col-ico" style="margin-right:0.5em;"></i> Empresa: </label>
                                    <select class="form-control" id="nom_empresa" name="nom_empresa">
                                        <option value="0" selected>Selecciona</option>
                                    </select>
                                </div>
                                <div class="form-group" id="divpuesto">
                                    <label class="col-form-label col-labels"> <i class="fas fa-briefcase col-ico" style="margin-right:0.5em;"></i> Puesto:</label>
                                    <input type="text" name="puesto" id="puesto" placeholder="Dentro de la empresa" class="form-control" />
                                </div>
                                <div class="form-group" id="divcodigo">
                                    <label class="col-form-label col-labels"> <i class="fas fa-barcode col-ico" style="margin-right:0.5em;"></i> Codigo de acceso:</label>
                                    <input type="text" name="codigo" id="codigo" placeholder="Código de la encuesta" class="form-control" />
                                </div>
                                <div class="form-group" id="diverror">
                                    <p class="text-danger"> <b id="txterror"></b> </p>
                                </div>
                                <div class="form-group text-center d-none" id="divloader">
                                    <div class="spinner">
                                        <div class="double-bounce1"></div>
                                        <div class="double-bounce2"></div>
                                    </div>
                                    <b>Procesando...</b>
                                </div>
                                <div class="form-group text-center mt-4 mb-0 pb-0 row" id="divbutton">
                                    <div class="offset-3 col-md-6 ">
                                        <button class="btn btn-block col-btn-form1" type="submit">
                                            <i class="fas fa-check-circle mr-2"></i> Aceptar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="offset-1 col-lg-5 animated fadeInDown">
                    <div class="mt-5">
                        <img src="~/Content/Img/undraw_analyze_17kw.svg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="~/Scripts/TestOpc.js"></script>