@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:2em !important;">
    <h1 style="font-size:50px;" class="text-center text-capitalize">Bienvenido al sistema de encuestas</h1>
    <div class="row">
        <div class="col-md-offset-4 col-md-4" style="margin-top:1.5em;">
            <form action="EncuestaP/Index" method="POST" id="form_data" class="card shadow p-3">
                <div class="form-group">
                    <label>Empresa: </label>
                    <select class="form-control" id="nom_empresa" name="nom_empresa">
                        <option selected value="none">Selecciona</option>
                    </select>
                </div>
                <div class="form-group">
                    <label> Numero de empleados: </label> 
                    <input type="number" id="num_empleados" name="num_empleados" class="form-control" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" type="submit">
                        Comprobar y continuar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        //Variables formulario
        const empresa = document.getElementById('nom_empresa');
        const empleados = document.getElementById('num_empleados');
        const formData = document.getElementById('form_data');
        //Datos de las empresas
        $.ajax({
            type: "POST",
            url: '../../EncuestaP/DatosEmpresas',
            data: {},
            error: function (err) {
                console.log(err);
            },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    empresa.innerHTML += `<option value="${data[i].iIdEmpresa}">${data[i].sNombre}</option>`;
                }
            }
        });

        empresa.value = "none";
        empleados.value = "";

        formData.addEventListener('submit', (e) => {
            if (empresa.value != "none") {
                if (empleados.value > 0) {
                    formData.submit();
                } else {
                    alert("Ingresa la cantidad de empleados");
                }
            } else {
                alert("Selecciona una empresa para continuar");
            }
            e.preventDefault();
        });
    });
</script>
