@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutIni.cshtml";
}

    <div class="container-fluid">

        <style>
            /*body {
                background-color: #FAFFEB;
            }*/
        </style>

        <div class="" style="margin-top:6em !important; margin-bottom:6em !important;">

            <div class="row">
                <div class="col-lg-6 animated fadeInDown">
                    <img src="~/Content/Img/undraw_usability_testing_2xs4.svg" class="img-responsive" />
                </div>
                <div class="col-lg-6 animated fadeInLeft delay-1s">
                    <h1 style="font-size:30px; margin-bottom:0.3em !important; color:#0000d6 !important; font-weight:500; text-shadow: 2px 2px 0 #ccc;" class="text-center">
                        <span>Ingresa los datos para comenzar.</span>
                    </h1>
                    <hr />
                    <form action="../EncuestaP/Index" method="POST" id="form_data" class="p-3">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-9">
                                <div class="form-group" id="divempresa">
                                    <label> <i class="fas fa-university text-primary" style="margin-right:0.5em;"></i> Empresa: </label>
                                    <select class="form-control" id="nom_empresa" name="nom_empresa">
                                        <option value="0" selected>Selecciona</option>
                                    </select>
                                </div>
                                <div class="form-group" id="divcentro">
                                    <label> <i class="fas fa-building text-primary" style="margin-right:0.5em;"></i> Centro de trabajo:</label>
                                    <select class="form-control" id="centro_tra" name="centro_tra">
                                    </select>
                                </div>
                                <div class="form-group" id="divcodigo">
                                    <label> <i class="fas fa-barcode text-primary" style="margin-right:0.5em;"></i> Codigo de acceso:</label>
                                    <input type="text" name="codigo" id="codigo" class="form-control" />
                                </div>
                                <div class="form-group" id="diverror">
                                    <p class="text-danger"> <b id="txterror"></b> </p>
                                </div>
                                <div class="form-group text-center d-none" id="divloader">
                                    <div class="spinner">
                                        <div class="double-bounce1"></div>
                                        <div class="double-bounce2"></div>
                                    </div>
                                    <b>Procesando...</b>
                                </div>
                                <div class="form-group" id="divbutton">
                                    <button id="envform" style="margin-left:5.3em !important; margin-top:2em !important;" class="btn btn-color btn-sm btn-sha" type="submit">
                                        Comprobar y continuar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="~/Scripts/Encuestas/Index.js"></script>