
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutIni.cshtml";
}

    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-lg-5 animated flipInX">
                <div class="mt-5">
                    <img src="~/Content/Img/undraw_authentication_fsn5.svg" class="img-fluid" />
                </div>
            </div>
            <div class="offset-1 col-lg-6 animated zoomIn delay-1s">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <h4 class="card-title text-center col-title font-title lt-spacing-2 txt-shadow-3 font-weight-bold">
                            Inicio de sesion
                        </h4>
                        <hr />
                        <form id="formLogin" autocomplete="off" class="p-1">
                            <div class="form-group">
                                <label for="user" class="col-form-label col-labels"> <i class="fas fa-user col-ico mr-2"></i> Usuario: </label>
                                <input type="text" autofocus name="user" id="user" placeholder="Nombre de usuario" class="form-control text-capitalize" />
                            </div>
                            <div class="form-group">
                                <label for="pass" class="col-form-label col-labels"> <i class="fas fa-key col-ico mr-2"></i> Contraseña: </label>
                                <input type="password" name="pass" id="pass" placeholder="********" class="form-control" />
                            </div>
                            <div class="form-group text-center mt-4 mb-0 pb-0 row">
                                <div class="offset-3 col-md-6">
                                    <button type="submit" class="btn btn-block col-btn-form1">
                                        <i class="fas fa-check-circle mr-2"></i> Iniciar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/login.js"></script>

