
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutIni.cshtml";
}

    <div class="container" style="margin-top:3em !important; margin-bottom: 6em !important;">
        <style>
            body {
                background-color: #FAFFEB;
            }
        </style>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <div class="row" style="margin-top:1em !important;">
                    <div class="col-lg-6 text-center">
                        <a class="btn btn-color btn-sha btn-sm" href="/Home/Index" style="color: white !important; outline: none !important; text-decoration-line:none !important;">
                            <i class="fas fa-home"></i>
                            <b style="margin-left:5px !important;">Inicio</b>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="#" class="btn btn-link btn-sm" style="outline: none !important; text-decoration-line:none !important;">
                            <i class="fas fa-door-closed"></i>
                            <b style="margin-left:5px !important;">Login</b>
                        </a>
                    </div>
                </div>
                <div class="card shadow p-3" style="margin-top:3em !important; margin-bottom: 4em !important;">
                    <form id="formLogin">
                        <div class="form-group">
                            <label for="user">Nombre de usuario</label>
                            <input type="text" name="user" id="user" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="pass">Contraseña de acceso</label>
                            <input type="password" name="pass" id="pass" class="form-control" />
                        </div>
                        <div class="form-group text-center" style="margin-bottom:0px !important;">
                            <button type="submit" class="btn btn-color btn-sha btn-sm">
                                Iniciar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/login.js"></script>

