
@{
    ViewBag.Title = "Buzon";
}


@{
    if (Session["keyUser"] != null)
    {

        <div class="container-fluid mt-5 mb-5">
            <div class="row">
                <div class="col-md-3" style="margin-top:6.7em !important;">
                    <div style="margin-bottom:2em !important;">
                        <img class="img-fluid" src="~/Content/Img/mailbox.svg" />
                    </div>
                </div>
                <div class="col-md-9">
                    <h2><b> <i class="fas fa-mail-bulk col-ico mr-2"></i> Buzón de sugerencias </b></h2>
                    <hr />
                    <div>
                        <table class="display" id="tabmails">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Jefe</th>
                                    <th>Fecha</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tbodymails"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" id="viewMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="">
                        <h5 class="text-center mt-4" id="exampleModalLabel">
                            <b> <i class="fas fa-book-open col-ico mr-2"></i> Detalles de queja ó sugerencia</b>
                        </h5>
                        <hr />
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="offset-1 col-lg-10">
                                <span class="col-labels"> <i class="fas fa-user-tie col-ico mr-2"></i> Jefe de área:</span>
                                <p id="boss" class="text-capitalize" style="margin-top:1em !important;"></p>
                                <hr />
                                <span class="col-labels"> <i class="fas fa-comments col-ico mr-2"></i> Descripción:</span>
                                <p id="description" style="margin-top:1em !important;" class="text-info"></p>
                                <hr />
                                <span class="col-labels"> <i class="fas fa-location-arrow col-ico mr-2"></i> Lugar:</span>
                                <p id="location" style="margin-top:1em !important;"></p>
                                <hr />
                                <span class="col-labels"> <i class="fas fa-calendar col-ico mr-2"></i> Fecha:</span>
                                <p id="dateevent" style="margin-top:1em !important;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btncle">
                            <i class="fas fa-times mr-2"></i> Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="~/Scripts/Admin/mailbox.js"></script>

    }
    else
    {
        <script type="text/javascript">
            location.href = "/Home/Logout";
        </script>
    }
}

