
@{
    ViewBag.Title = "RegistroEmpresa";
}

    <div style="margin-top:2em !important;" class="container">
        <form action="/" method="post" class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <div class="form-group">
                    <label>Nombre de empresa:</label>
                </div>
            </div>
        </form>
    </div>
