
@{
    ViewBag.Title = "Usuarios";
}

@if (Convert.ToInt32(Session["typeUser"]) == 1 && Session["keyUser"] != null)
{
    <style>
        #minimizeadmin:hover {
            cursor:pointer;
        }
    </style>
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-md-3" style="margin-top:6.7em !important;">
                <div style="margin-bottom:2em !important;">
                    <img class="img-fluid" src="~/Content/Img/undraw_Add_friends_wa2a.svg" />
                </div>
                <a href="/Admin/Index" class="btn btn-block col-btn-form1">
                    <i class="fas fa-arrow-left mr-2"></i> <span>Volver</span>
                </a>
                <a class="btn btn-block col-btn-form1 mt-4" id="admins" href="#">
                    <i class="fas fa-plus mr-2"></i> <span>Administradores</span>
                </a>
                <a href="#" data-toggle="modal" data-target="#newUserReg" class="btn btn-block col-btn-form1 mt-4" id="btnnewreguser">
                    <i class="fas fa-plus mr-2"></i> <span>Nuevo usuario</span>
                </a>
                <a href="#" data-toggle="modal" data-target="#newUser" class="btn btn-block col-btn-form1 mt-4" id="btnnewreg">
                    <i class="fas fa-plus mr-2"></i> <span>Nuevo registro</span>
                </a>
            </div>
            <div class="col-md-9">
                <h2><b> <i class="fas fa-users col-ico mr-2"></i> Listado de usuarios </b></h2>
                <hr />
                <div>
                    <table class="display" id="tabusers">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Empresa</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyusers"></tbody>
                    </table>
                </div>
                <br /> <br /> <br /> <br />
                <div id="divadmin">
                    <div class="text-right">
                        <i class="fas fa-window-minimize fa-2x color-danger" id="minimizeadmin"></i>
                    </div>
                    <h2><b> <i class="fas fa-user-tie col-ico mr-2"></i> Listado de administradores </b></h2>
                    <hr />
                    <table class="display" id="tabadmin">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyadmin"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="newUserReg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">
                        <b class="text-center col-labels"> <i class="fas fa-user mr-2 col-ico"></i>  Agregar usuario </b>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="offset-1 col-md-10">
                            <div class="form-group">
                                <label for="newuserreg" class="col-labels col-form-label"> <i class="fas fa-user mr-2 col-ico"></i> Nombre de usuario: </label>
                                <input type="text" id="newuserreg" name="newuserreg" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-labels col-form-label" for="passuserreg"> <i class="fas fa-key mr-2 col-ico"></i> Contraseña: </label>
                                <input type="password" id="passuserreg" name="passuserreg" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="passrepreg" class="col-labels col-form-label"> <i class="fas fa-key mr-2 col-ico"></i> Repite la contraseña: </label>
                                <input type="password" id="passrepreg" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-labels col-form-label"> <i class="fas fa-id-card-alt mr-2 col-ico"></i> Tipo de usuario: </label>
                                <select class="form-control" id="typeuser" name="typeuser">
                                    <option value="0">Selecciona</option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Cliente</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-labels col-form-label" for="typeadmin"> <i class="fas fa-user-tie col-ico mr-2"></i> Es super administrador? </label>
                                <select class="form-control" id="typeadmin" name="typeadmin">
                                    <option value="none">Selecciona</option>
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="btncloseuserreg">
                        <i class="fas fa-times mr-2"></i> Cerrar
                    </button>
                    <button type="button" class="btn btn-sm col-btn-form1" id="btnsaveuserreg">
                        <i class="fas fa-check-circle mr-2"></i> Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="newUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">
                        <b class="text-center col-labels"> <i class="fas fa-plus mr-2 col-ico"></i> Agregar registro </b>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="offset-1 col-md-10">
                            <div class="form-group">
                                <label for="newuser" class="col-form-label col-labels"> <i class="fas fa-user mr-2 col-ico"></i> Nombre de usuario: </label>
                                <select type="text" id="newuser" name="newuser" class="form-control">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label  class="col-form-label col-labels" for="empresa"> <i class="fas fa-building mr-2 col-ico"></i> Empresa: </label>
                                <select class="form-control" id="empresa" name="empresa">
                                    <option value="0" selected>Selecciona</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="btncloseuser">
                        <i class="fas fa-times mr-2"></i> Cerrar 
                    </button>
                    <button type="button" class="btn btn-sm col-btn-form1" id="btnsaveuser">
                        <i class="fas fa-check-circle mr-2"></i> Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="passUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">
                        <b class="text-center col-labels"> <i class="fas fa-key col-ico mr-2"></i> Cambiar contraseña a <span id="userpass"></span> </b>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="offset-1 col-md-10">
                            <div class="form-group">
                                <label for="newpassuser" class="col-form-label col-labels"> <i class="fas fa-key mr-2 col-ico"></i> Ingresa la nueva contraseña:</label>
                                <input type="password" id="newpassuser" name="newpassuser" class="form-control" />
                                <input type="hidden" id="clvpass" />
                            </div>
                            <div class="form-group">
                                <label  class="col-form-label col-labels" for="passconfirm"> <i class="fas fa-key mr-2 col-ico"></i> Repite la nueva contraseña:</label>
                                <input type="password" id="passconfirm" name="passconfirm" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="btnclepass">
                        <i class="fas fa-times mr-2"></i> Cerrar
                    </button>
                    <button type="button" class="btn btn-sm col-btn-form1" id="btnupdatepass">
                        <i class="fas fa-check-circle mr-2"></i> Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="blockUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">
                        <b class="text-center col-labels"> <i class="fas fa-lock mr-2 col-ico"></i> ¿Esta seguro de bloquear a <span id="userblock"></span> ? </b>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="offset-1 col-md-10">
                            <div class="form-group">
                                <label for="passblock" class="col-form-label col-labels"> <i class="fas fa-key mr-2 col-ico"></i> Escribe tu contraseña para confirmar:</label>
                                <input type="password" id="passblock" name="passblock" class="form-control" />
                                <input type="hidden" id="clvblock" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="btncle"> <i class="fas fa-times mr-2"></i> Cerrar </button>
                    <button type="button" class="btn btn-sm col-btn-form1" id="btnblock"> <i class="fas fa-check-circle mr-2"></i> Aceptar </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="activeUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">
                        <b> ¿Esta seguro de desbloquear a <span id="useractive"></span> ? </b>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6">
                            <div class="form-group">
                                <label>Escribe tu contraseña para confirmar:</label>
                                <input type="password" id="passactive" name="passactive" class="form-control" />
                                <input type="hidden" id="clvactive" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btncledes">Cerrar</button>
                    <button type="button" class="btn btn-success" id="btnactive">Desbloquear</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/Admin/usuarios.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            floaddataadmin(@Session["keyUser"]);
            setTimeout(() => {
            $("#tabadmin").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
            });
        }, 1000);
        });
    </script>

}